.row {
  margin-left: 15px;
  margin-top: 8px;
  color: white;
}
.title {
  margin-left: 19px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row_Single_poster {
  width: 100%;
  margin-right: 11px;
  max-height: 160px;
  object-fit: contain;
  transition: transform 450ms;
}
.row_Single_poster:hover {
  transform: scale(1.08);
}
.row__LargePoster {
  max-height: 260px;
}

.row__LargePoster:hover {
  transform: scale(1.1);
}
